@charset "utf-8";

[data-theme='dark'] {
  --bulma-text: rgb(255, 255, 255);
}

:root {
  --color-bg: rgb(42, 41, 49);
  --color-primary: rgb(55, 53, 62);
  --color-secondary: rgb(68, 68, 78);
  --color-scrollbar: rgb(69, 69, 79);
  --color-quiz-0: rgb(96, 45, 82);
  --color-quiz-1: rgb(150, 78, 104);
  --color-quiz-2: rgb(105, 117, 101);
  --color-quiz-3: rgb(172, 155, 108);
  --color-quiz-4: rgb(86, 94, 126);
  --color-elements: rgba(219, 219, 219, 0.225);
  --color-button: rgba(0, 0, 0, 0.273);
  --color-select: rgba(225, 225, 225, 0.751);
  --color-shadow: rgba(41, 41, 46, 0.775);
  --color-send: rgb(40, 120, 49);
  --color-to-bottom: rgb(74, 76, 86);
  --color-delete: rgb(34, 2, 2);
  --color-send-form: rgb(203, 201, 201);
  --transition-duration: 0.2s;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

* {
  box-sizing: border-box;
  transition: all var(--transition-duration) ease-in-out;
  scroll-behavior: smooth;
}

html,
body,
.section {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  overflow-y: auto;
}

.section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader {
  height: 60px;
  width: 60px;
}

.loader-wrapper {
  position: absolute;
  inset: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  color: rgba(255, 255, 255, 0.5);
}

.is-light {
  color: rgba(250, 250, 250, 0.733);
}

.icon--delete {
  color: var(--color-delete);
}

// .box {
//   .button {
//     width: 100%;
//   }

//   .navbar-item {
//     display: flex;
//     width: 150px;
//     justify-content: center;


//   }

//   .is-active {
//     background-color: #ffffff1a;
//   }

//   .buttons,
//   .navbar {
//     flex-wrap: nowrap;
//   }

//   .navbar {
//     display: flex;
//     margin-bottom: 20px;
//     justify-content: center;
//   }
// }

.not-found,
.box {
  .subtitle,
  .title {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 20px;
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notification {
  position: absolute;
  z-index: 500;
  bottom: 10px;
  right: 10px;
}

@for $i from 0 through 4 {
  .quiz_color_#{$i} {
    background-color: var(--color-quiz-#{$i});
  }
}
