.questions,
.answers {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
}

.quiz {
  display: flex;
  width: 1000px;
  flex-direction: column;
  gap: 10px;
  margin-block: 20px;
}

.questionCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 15px;
  padding: 10px;

  &_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.answer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.select {
  width: fit-content;
  display: flex;
  border-radius: 5px;
  background-color: var(--color-select);
  cursor: pointer;
  padding: 5px;
}

.input {
  background-color: var(--color-elements);
  border: none;
}

.button {
  background-color: var(--color-button);
  border: none;

}
